@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.title {
  margin: 50px;
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff,	-1px 1px 0 #fff, 1px 1px 0 #fff;
}

.wrapper > video {
  width: 100%;
  height: 100%;
}

.carousel {
  background: rgba(0, 0, 0, 0.3);
  list-style: none;
  position: absolute;
  padding: 20px;
  width: 100vw;
  bottom: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.carousel .thumbnail {
  height: 150px;
  margin: 0 10px;
  border: 5px solid transparent;
  border-radius: 5px;
  transition: all 1s;
}
.carousel .thumbnail.selected {
  border: 5px solid #42A5F5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  height: 150px;
}
.carousel .thumbnail.selected img {
  opacity: 1;
  height: 150px;
}

.carousel .thumbnail img {
  height: 140px;
  border-radius: 5px;
  opacity: 0.5;
}
